.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  background-color: #032d5d;
  text-emphasis-color: white;
  color: white;
}

.App-link {
  color: #032d5d;
  
}
.navbar .nav-link {
  color: white !important; /* Use !important cautiously */
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.equal-image {
  width: 100%;
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 8px; /* Optional: Add some rounding to the corners */
}

.card-img-top {
  width: 100%; /* Ensures the image takes up the full width of the container */
  height: auto; /* Maintains the aspect ratio */
}

/* Navbar specific styles */
.navbar {
  background-color: #032d5d; /* Matches your header background */
}

.nav-link {
  color: white; /* Keep navbar links white */
}

.nav-link:hover {
  color: #ffcc00; /* Change color on hover */
}

.dropdown-menu {
  background-color: #032d5d; /* Dropdown background color */
}

.dropdown-item {
  color: white; /* Dropdown item text color */
}

.dropdown-item:hover {
  background-color: #ffcc00; /* Dropdown item hover color */
}